@import url('https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css');
::selection {
    background: black;
}
.jumbotron-naam {
    color: white;
    background-color: #49cbc1/*#3F51B5*/
    ;
    border-radius: 0;
    width: 100%;
    height: auto;
    padding: 5%;
    margin: 0;
}

.footer {
    text-align: center;
}

.jumbotron-talen {
    color: white;
    background-color: #FF4081;
    margin: 0;
    border-radius: 0;
    width: 100%;
    padding: 2%;
}

#skills {
    width: 100%;
    margin: 0px;
}

.language {
    font-size: 1.2rem;
    padding-left: 5%;
}

#akaratosgroot {
    background-color: #ff7c7c;
    border-radius: 0;
    color: white;
    width: 100%;
}

#akaratosgroot img {
    float: left;
    padding-left: 170px;
    padding-right: 10px;
}

#akaratosgroot h1 {
    padding-top: 30px;
}
#akaratosgroot p {
    padding-right: 5%;
}

.jumbotron-akaratos {
    background-image: url(../../assets/img/akaratos.jpg);
    background-size: cover;
    border-radius: 0;
    color: white;
    margin: 0;
    width: 100%;
}

.jumbotron-jouwbedrijf {
    background-image: url(../../assets/img/jouwBedrijf.jpg);
    background-size: cover;
    border-radius: 0;
    color: white;
    margin: 0;
    width: 100%;
}

.jumbotron-contact {
    background-color: #3F51B5;
    border-radius: 0;
    color: white;
    margin: 0;
    width: 100%;
    padding: 1%;
}

.nopaddingleft {
    padding-left: 0px;
}

.nopaddingright {
    padding-right: 0px;
}

#main {
    overflow: hidden;
}

@media screen and (max-width: 360px) {
    .display-3 {
        font-size: 2.8rem;
    }
    .jumbotron-naam {
        padding-right: 5%;
        margin-right: 5%;
        text-align: left;
    }
}